vvenv/
__pycache__/
.vscode/
*.mp4
*.webm
*.wav
rebone_VC/pretrain_data/
pose_est_mod/d3_pose_baseline_vmd/experiments/
pose_est_mod/d3_pose_baseline_vmd/data/
pose_est_mod/FCRN_DepthPrediction_vmd/data/
pose_est_mod/VMD_3d_pose_baseline_multi/data/
